.main-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 10rem;
  height: 20rem;
  padding: 1rem;
  border: 1px solid rgb(63, 22, 82);
  list-style: none;

  p {
    word-wrap: break-word;
  }
  strong {
    color: gold;
  }
}

.title-container {
  height: 20%;
 
}
.img-container {
  height: 80%;

  img{
    height: 100%;
    width: 100%;
  }
 
}

